*{
  font-family: sans-serif;
}

h1{
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10em;
}

th, td {
  padding: 20px 8px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  color: white;
}

th:nth-child(1), td:nth-child(1) { width: 25%; }
th:nth-child(1) { background-color: #ff6b42; }

th:nth-child(2) { background-color: #ffc832; }

th:nth-child(3) { background-color: #40ace0; }

th:nth-child(4) {
  background-color: #a442f5;
  padding-top: 40px;
}
